:root {
  /* Variables CSS */
  --font-family: 'Outfit', sans-serif;
  --color-card:rgba(21, 38, 63, 1);
  --color-text:rgba(139, 172, 217, 1);
  --color-etherum:rgba(0, 255, 248, 1);
}

/* Variables SASS */
